<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>


  <% include partials/_header %>


</head>
<body>


  <div class="jumbotron text-center">
  </div>

  <div class="row">
  <table>
  <tr>
    <td>Short URL</td>
    <td></td>
    <td>Long URL</td>
    <td>Count</td>
    <td></td>
  </td>
  <% for(let i = 0; i < userUrls.length; i++) { %>
  <tr>

    <td class="cellpadding">
      <%= `${userUrls[i]}` %>
    </td>

    <td class="cellpadding">
      --->
    </td>

    <td class="cellpadding">
      <%= `${urls[userUrls[i]]['url']}`%>
    </td>

    <td>
      <center>
      <%= `${urls[userUrls[i]]['count']}`%>
      <center>
    </td>
    <td class="cellpadding">
      <form action="/urls/<%= userUrls[i] %>">
        <input type="submit" value="Update"/>
      </form>
    </td>

    <td class="cellpadding">
      <form method="POST" action="/urls/<%= userUrls[i] %>/delete">
      <button>Delete</button>
    </form>
    </td>

  </tr>
  <% } %>

  </table>
</div>

<div>
  <td>
    <form action="/urls" method="POST" style="margin:10px;">

    <input type="text" name="newURL" value="Enter a URL" style="width: 300px">
    <input type="submit" value="Submit">
    </form>
  </td>
</div>

</body>
</html>
