<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>




<body>
    <% include partials/_header %>




        <div class="row">
            <table>
                <tr>

                    <td style=" width: auto">Short URL</td>
                    <td style=" width: auto"></td>
                    <td style=" width: auto">Long URL</td>
                    <td style=" width: auto">Count</td>
                    <!-- <td style=" width: auto">Unique Count</td> -->
                    <td style=" width: auto">Date Created</td>
                    <td></td>
                    </h4>
                </tr>
                <% for(let i = 0; i < userUrls.length; i++) { %>
                    <tr>

                        <td class="cellpadding" style="width: 100px">
                            <%=`${userUrls[i]}` %>
                        </td>

                        <td class="cellpadding" style="width: 50px">---></td>

                        <td class="cellpadding" style="width: 300px">
                            <a href="<%`${urls[userUrls[i]]['url']}`%>">
                                <b>
          <%= `${urls[userUrls[i]].url}`%>
        </b>
                            </a>
                        </td>

                        <td class="cellpadding" style="width: 50px">
                            <center>
                                <%= `${urls[userUrls[i]].allCount}`%>
                            </center>
                        </td>

                        <!-- <td class="cellpadding">
                            <center>
                                <%= `${urls[userUrls[i]]['uniqueCount']}`%>
                            </center>
                        </td> -->

                        <td class="cellpadding">
                            <center>
                                <%= `${urls[userUrls[i]].timeStamp}`%>
                            </center>
                        </td>


                        <td class="cellpadding">
                            <form action="/urls/<%= userUrls[i] %>" style="margin:10px;">
                                <button class="btn btn-danger">Update</button>
                            </form>
                        </td>

                        <td class="cellpadding">
                            <form method="POST" action="/urls/<%= userUrls[i] %>/delete">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>

                    </tr>
                    <% } %>

            </table>
        </div>

        <div>
            <td>
                <form action="/urls" method="POST" style="margin:10px;">

                    <input type="text" name="newURL" placeholder="Enter a URL" style="width: 300px">
                    <input type="submit" class="btn btn-danger" value="Create">
                </form>
            </td>
        </div>

</body>

</html>
